
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
h1{
    color: #dc143c;
    text-align: center;
    padding: 15px;
    font-family: 'Lobster', cursive;
}

body {
    background-color: #dc143c;
    background-image: linear-gradient(to bottom, black, black);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    /* min-height: 100vh; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 420px;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);
    
}

.container * {
    border: none;
    outline: none;
}

.input-wrapper {
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
    padding: 20px;
}

input[type="date"],
input,
button {
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input[type="date"] {
    background-color: #f4f4f4;
}

input:focus,
button:focus,
input[type="date"]{
    border-color: #55d0f0;
}
button{
    color: #fff;
    background-color: #14141c;
    cursor: pointer;
    transition: background-cplor 0.3s;
    font-size: medium;
}
button:hover{
    background-color: #1a1a28;
}

.container2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center; /* Center align content within cards */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align value and label vertically */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(27, 27, 0);
}

.value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.label {
    font-size: 14px;
    color: #555;
}
